# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/
ENV/

# Environment variable files
.env

# IDE-specific files
.vscode/
.idea/

# Build artifacts
*.egg
*.egg-info/
dist/
build/

# Logs and temp files
*.log
*.tmp
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Streamlit specific
.streamlit/config.toml

# Ignore secrets or config file
secrets.toml
